<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<div class='registration-form container'>
    <h3><%= t('tenant.new') %></h3>
    <%= form_with model: RailsLti2Provider::Tenant.new do |form| %>
        <div class='form-group row'>
            <%= form.label :uid, t('tenant.uid') + ':', class: 'col-sm-2 col-form-label' %>
            <%= form.text_field :uid, class: 'form-control col-sm-10 col', required: true %>
        </div>

        <%# settings %>
        <%= form.fields :settings do |settings_form| %>
            <%# 'worka' app settings %>
            <%= render 'shared/worka_app_settings_form',
                parent_form: settings_form,
                hide_saas_enabled_checkbox: true %>
            <%# 'rooms' app settings %>
            <%= render 'shared/rooms_app_settings_form',
                parent_form: settings_form %>
        <% end %>

        <%= submit_tag(t('ui.submit'), class: 'btn btn-success') %>
        <%= link_to t('ui.cancel'), registration_list_url, class: 'btn btn-secondary' %>
    <% end %>
</div>
