<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<div class='registration-form container'>
    <h3><%= t('registration.edit') %></h3>
    <%= form_with model: @tool, url: submit_registration_path, method: 'post' do |form| %>
        <%# tool settings %>
        <%= form.fields :tool_settings, model: OpenStruct.new(@registration) do |tool_settings_form| %>
            <%# issuer %>
            <div class='form-group row'>
                <%= tool_settings_form.label :issuer,
                    t('registration.issuer') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :issuer,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# client_id %>
            <div class='form-group row'>
                <%= tool_settings_form.label :client_id,
                    t('registration.client_id') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :client_id,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# key_set_url %>
            <div class='form-group row'>
                <%= tool_settings_form.label :key_set_url,
                    t('registration.key_set_url') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :key_set_url,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# auth_token_url %>
            <div class='form-group row'>
                <%= tool_settings_form.label :auth_token_url,
                    t('registration.auth_token_url') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :auth_token_url,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# auth_login_url %>
            <div class='form-group row'>
                <%= tool_settings_form.label :auth_login_url,
                    t('registration.auth_login_url') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :auth_login_url,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# rsa_key_pair_id %>
            <%= tool_settings_form.hidden_field :rsa_key_pair_id %>
        <% end %>

        <%# tenant_id %>
        <div class='form-group row'>
            <%= form.label :tenant_id, t('tool.tenant') + ':', class: 'col-sm-2 col-form-label' %>
            <%= form.select :tenant_id, @tenants,
                { include_blank: false }, { class: 'form-control col-sm-10 col' } %>
        </div>

        <%# app settings %>
        <%= form.fields :app_settings do |app_settings_form| %>
            <%# 'worka' app settings %>
            <%= render 'shared/worka_app_settings_form',
                parent_form: app_settings_form,
                hash_for_model: @tool.app_settings['worka'] %>
            <%# 'rooms' app settings %>
            <%= render 'shared/rooms_app_settings_form',
                parent_form: app_settings_form,
                hash_for_model: @tool.app_settings['rooms'] %>
            <%# 'tool' app settings %>
            <%= render 'shared/tool_app_settings_form',
                parent_form: app_settings_form,
                hash_for_model: @tool.app_settings['tool'] %>
        <% end %>

        <%= submit_tag(t('ui.submit'), class: 'btn btn-success') %>
        <%= link_to t('ui.cancel'), registration_list_url, class: 'btn btn-secondary' %>
    <% end %>
</div>