<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<div class='registration-form container'>
    <h3><%= t('registration.edit') %></h3>
    <%= form_with model: @tool, url: submit_registration_path, method: 'post' do |form| %>
        <%# tool settings %>
        <%= form.fields :tool_settings, model: OpenStruct.new(@registration) do |tool_settings_form| %>
            <%# issuer %>
            <div class='form-group row'>
                <%= tool_settings_form.label :issuer,
                    t('registration.issuer') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :issuer,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# client_id %>
            <div class='form-group row'>
                <%= tool_settings_form.label :client_id,
                    t('registration.client_id') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :client_id,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# key_set_url %>
            <div class='form-group row'>
                <%= tool_settings_form.label :key_set_url,
                    t('registration.key_set_url') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :key_set_url,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# auth_token_url %>
            <div class='form-group row'>
                <%= tool_settings_form.label :auth_token_url,
                    t('registration.auth_token_url') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :auth_token_url,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# auth_login_url %>
            <div class='form-group row'>
                <%= tool_settings_form.label :auth_login_url,
                    t('registration.auth_login_url') + ':', class: 'col-sm-2 col-form-label' %>
                <%= tool_settings_form.text_field :auth_login_url,
                    class: 'form-control col-sm-10 col', required: true %>
            </div>
            <%# rsa_key_pair_id %>
            <%= tool_settings_form.hidden_field :rsa_key_pair_id %>
        <% end %>

        <%# tenant_id %>
        <div class='form-group row'>
            <%= form.label :tenant_id, t('tool.tenant') + ':', class: 'col-sm-2 col-form-label' %>
            <%= form.select :tenant_id, @tenants,
                { include_blank: false }, { class: 'form-control col-sm-10 col' } %>
        </div>

        <%# app settings %>
        <%= form.fields :app_settings do |setting_fields| %>
            <%# 'worka' app settings %>
            <%= setting_fields.fields 'worka', model: OpenStruct.new(@tool.app_settings['worka']) do |worka_settings| %>
                <%# Worka SaaS %>
                <div class='form-group row'>
                    <div class='col'>
                        <%# worka_saas_toggle button %>
                        <%= button_tag t('tenant.settings_fields.worka_saas_toggle'),
                            data: {toggle: 'collapse', target: '#worka-saas-settings'},
                            type: 'button', class: 'btn btn-link' %>
                        <div id='worka-saas-settings' class='collapse'>
                            <%# worka_saas_enabled %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_saas_enabled,
                                    t('tenant.settings_fields.worka_saas_enabled') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.check_box :worka_saas_enabled %>
                            </div>
                            <%# worka_saas_world_domain %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_saas_world_domain,
                                    t('tenant.settings_fields.worka_saas_world_domain') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.text_field :worka_saas_world_domain,
                                    class: 'form-control col-sm-10 col' %>
                            </div>
                            <%# worka_saas_world_name %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_saas_world_name,
                                    t('tenant.settings_fields.worka_saas_world_name') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.text_field :worka_saas_world_name,
                                    class: 'form-control col-sm-10 col' %>
                            </div>
                        </div>
                    </div>
                </div>

                <%# Worka self-hosted %>
                <div class='form-group row'>
                    <div class='col'>
                        <%# worka_self_hosted_toggle button %>
                        <%= button_tag t('tenant.settings_fields.worka_self_hosted_toggle'),
                            data: {toggle: 'collapse', target: '#worka-self-hosted-settings'},
                            type: 'button', class: 'btn btn-link' %>
                        <div id='worka-self-hosted-settings' class='collapse'>
                            <%# worka_self_hosted_url %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_self_hosted_url,
                                    t('tenant.settings_fields.worka_self_hosted_url') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.text_field :worka_self_hosted_url,
                                    class: 'form-control col-sm-10 col' %>
                            </div>
                            <%# worka_self_hosted_bbb_url %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_self_hosted_bbb_url,
                                    t('tenant.settings_fields.worka_self_hosted_bbb_url') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.text_field :worka_self_hosted_bbb_url,
                                    class: 'form-control col-sm-10 col' %>
                            </div>
                            <%# worka_self_hosted_map_file_url %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_self_hosted_map_file_url,
                                    t('tenant.settings_fields.worka_self_hosted_map_file_url') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.text_field :worka_self_hosted_map_file_url,
                                    class: 'form-control col-sm-10 col' %>
                            </div>
                            <%# worka_self_hosted_woka_list_json_url %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_self_hosted_woka_list_json_url,
                                    t('tenant.settings_fields.worka_self_hosted_woka_list_json_url') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.text_field :worka_self_hosted_woka_list_json_url,
                                    class: 'form-control col-sm-10 col' %>
                            </div>
                            <%# worka_self_hosted_companion_list_json_url %>
                            <div class='form-group row'>
                                <%= worka_settings.label :worka_self_hosted_companion_list_json_url,
                                    t('tenant.settings_fields.worka_self_hosted_companion_list_json_url') + ':',
                                    class: 'col-sm-2 col-form-label' %>
                                <%= worka_settings.text_field :worka_self_hosted_companion_list_json_url,
                                    class: 'form-control col-sm-10 col' %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>

        <%= submit_tag(t('ui.submit'), class: 'btn btn-success') %>
        <%= link_to t('ui.cancel'), registration_list_url, class: 'btn btn-secondary' %>
    <% end %>
</div>