<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<div class="container-fluid w-50">
    <div class='d-flex'>
        <h3><%= t('registration.list.tools_1p3') %></h3>
        <%= link_to t('ui.new'), new_registration_path, class: 'btn btn-primary my-1 mx-4' %>
    </div>
    <table class='table bbb-registration-table' id="bbb-registration-table-1p3">
        <thead>
            <tr>
                <th class='w-25'><%= t('registration.issuer') %></th>
                <th class='w-25'><%= t('registration.client_id') %></th>
                <th class='w-25'><%= t('tool.app_settings') %></th>
                <th><%= t('tool.tenant') %></th>
                <th class='options-col'><%= t('ui.options') %></th>
            </tr>
        </thead>
        <tbody>
            <% @tools_1p3.each do |tool| %>
                <% reg = JSON.parse(tool.tool_settings) %>
                <tr>
                    <td><%= reg['issuer'] %></td>
                    <td><%= reg['client_id'] %></td>
                    <td class='text-wrap'>
                        <ul class='px-0'>
                            <% tool['app_settings'].each do |key, value| %>
                                <span> <%= key %> </span>
                                <ul>
                                    <% value.each do |inner_k, inner_val| %>
                                        <li><%= "#{inner_k} => #{inner_val}" %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </ul>
                    </td>
                    <td><%= tool.tenant&.uid %></td>
                    <td class='options-col'>
                        <%= link_to '<i class="fa fa-info-circle"></i>'.html_safe, show_registration_path(uuid: tool.uuid), class: 'mx-1' %>
                        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_registration_path(uuid: tool.uuid), class: 'mx-1' %>
                        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, delete_registration_path(uuid: tool.uuid), class: 'mx-1 text-danger', 'data-confirm': 'Are you sure?' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>


    <div class='d-flex mt-5'>
        <h3><%= t('registration.list.tools_1p0') %></h3>
        <%= link_to t('ui.new'), new_tool_path, class: 'btn btn-primary my-1 mx-4' %>
    </div>
    <table class='table bbb-registration-table' id="bbb-registration-table-1p0">
        <thead>
            <tr>
                <th class='w-25'><%= t('tool.uuid') %></th>
                <th class='w-25'><%= t('tool.shared_secret') %></th>
                <th class='w-25'><%= t('tool.app_settings') %></th>
                <th><%= t('tool.tenant') %></th>
                <th class='options-col'><%= t('ui.options') %></th>
            </tr>
        </thead>
        <tbody>
            <% @tools_1p0.each do |tool| %>
                <tr>
                    <td><%= tool['uuid'] %></td>
                    <td><%= tool['shared_secret'] %></td>
                    <td class='text-wrap'>
                        <ul class='px-0'>
                            <% tool['app_settings'].each do |key, value| %>
                                <span> <%= key %> </span>
                                <ul>
                                    <% value.each do |inner_k, inner_val| %>
                                        <li><%= "#{inner_k} => #{inner_val}" %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </ul>
                    </td>
                    <td><%= tool.tenant&.uid %></td>
                    <td class='options-col'>
                        <%= link_to '<i class="fa fa-info-circle"></i>'.html_safe, tool_path(tool.uuid), class: 'mx-1' %>
                        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_tool_path(tool.uuid), class: 'mx-1' %>
                        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, tool_path(tool.uuid), class: 'mx-1 text-danger', method: :delete, 'data-confirm': 'Are you sure?' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class='d-flex mt-5'>
        <h3><%= t('registration.list.tenants') %></h3>
        <%= link_to t('ui.new'), new_tenant_path, class: 'btn btn-primary my-1 mx-4' %>
    </div>
    <table class='table bbb-registration-table' id="bbb-tenants-table">
        <thead>
            <tr>
                <th class='w-25'><%= t('tenant.uid') %></th>
                <th><%= t('tenant.settings') %></th>
                <th class='options-col'><%= t('ui.options') %></th>
            </tr>
        </thead>
        <tbody>
            <% @tenants.each do |ten| %>
                <tr>
                    <td><%= ten['uid'] %></td>
                    <td>
                        <ul>
                            <% ten['settings'].each do |key, value| %>
                                <% if value.is_a?(Hash) %>
                                    <span> <%= key %> </span>
                                    <ul>
                                        <% value.each do |inner_k, inner_val| %>
                                            <li><%= "#{inner_k} => #{inner_val}" %></li>
                                        <% end %>
                                    </ul>
                                <% else %>
                                    <li><%= "#{key} => #{value}" %> </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </td>
                    <td class='options-col'>
                        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_tenant_path(ten.uid), class: 'mx-1' %>
                        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, tenant_path(ten.uid), class: 'mx-1 text-danger', method: :delete, 'data-confirm': 'Are you sure?' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>