<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<div class='container'>
    <h3><%= t('registration.show') %></h3>
    <%# uuid %>
    <div class='form-group row'>
        <%= label_tag(:uuid, t('tool.uuid') + ':',
            class: 'col-sm-2 col-form-label') %>
        <%= text_field_tag(:uuid, @tool.uuid,
            class: 'form-control col-sm-10 col', readonly: true) %>
    </div>
    <%# shared_secret %>
    <div class='form-group row'>
        <%= label_tag(:shared_secret, t('tool.shared_secret') + ':',
            class: 'col-sm-2 col-form-label') %>
        <%= text_field_tag(:shared_secret, @tool.shared_secret,
            class: 'form-control col-sm-10 col', readonly: true) %>
    </div>
    <%# lti_version %>
    <div class='form-group row'>
        <%= label_tag(:lti_version, t('tool.lti_version') + ':',
            class: 'col-sm-2 col-form-label') %>
        <%= text_field_tag(:lti_version, @tool.lti_version,
            class: 'form-control col-sm-10 col', readonly: true) %>
    </div>
    <%# tenant %>
    <div class='form-group row'>
        <%= label_tag(:tenant, t('tool.tenant') + ':',
            class: 'col-sm-2 col-form-label') %>
        <%= text_field_tag(:tenant, @tool.tenant.uid,
            class: 'form-control col-sm-10 col', readonly: true) %>
    </div>
    <%# created_at %>
    <div class='form-group row'>
        <%= label_tag(:created_at, t('tool.created_at') + ':',
            class: 'col-sm-2 col-form-label') %>
        <%= text_field_tag(:created_at, @tool.created_at,
            class: 'form-control col-sm-10 col', readonly: true) %>
    </div>
    <%# updated_at %>
    <div class='form-group row'>
        <%= label_tag(:updated_at, t('tool.updated_at') + ':',
            class: 'col-sm-2 col-form-label') %>
        <%= text_field_tag(:updated_at, @tool.updated_at,
            class: 'form-control col-sm-10 col', readonly: true) %>
    </div>

    <%# Tool Settings %>
    <h5><%= t('tool.tool_settings') %></h5>
    <% @registration.each do |key, value| %>
        <div class='form-group row'>
            <%= label_tag(key, t("registration.#{key}") + ':', class: 'col-sm-2 col-form-label') %>
            <%= text_field_tag(key, value, class: 'form-control col-sm-10 col', readonly: true) %>
        </div>
    <% end %>

    <%# App Settings %>
    <h4><%= t('tool.app_settings') %></h4>
    <% @tool.app_settings.each do |key, value| %>
        <h5><%= key.humanize %></h5>
        <% value.each do |key, value| %>
            <div class='form-group row'>
                <%= label_tag(key, key.humanize + ':', class: 'col-sm-2 col-form-label') %>
                <%= text_field_tag(key, value, class: 'form-control col-sm-10 col', readonly: true) %>
            </div>
        <% end %>
    <% end %>

    <%= link_to t('ui.goback'), registration_list_url, class: 'btn btn-secondary' %>
</div>